div {
    position: relative;
    margin: 20px;
    width: 200px;
    height: 200px;
}
.block-1 {
    background-color: orangered;
    position: absolute;
    top: 0;
    left: 0;
}
.block-2 {
    background-color: orangered;
    position: absolute;
    top: 0;
    right: 0;
}
.block-3 {
    background-color: orangered;
    position: absolute;
    bottom: 0;
    left: 0;
}
.block-4 {
    background-color: orangered;
    position: absolute;
    bottom: 0;
    right: 0;
}

.block-1:hover {
    position: absolute;
    top: 10rem;
    left: 20rem;
    background-color: orchid;
}
.block-2:hover {
    position: absolute;
    top: 10rem;
    right: 20rem;
    background-color: palegreen;
}
.block-3:hover {
    position: absolute;
    bottom: 10rem;
    left: 20rem;
    background-color: peachpuff;
}
.block-4:hover {
    position: absolute;
    bottom: 10rem;
    right: 20rem;
    background-color: purple;
}
